extends layout

block content
  h3 Error
  p We apologize, there has been an error. Perhaps you are using Internet Explorer?
  a(href="#",  data-rel="back", data-role="button", data-icon="back") Go Back