extends layout


block content
  <h3>Welcome!</h3>

  <a href="/scan" data-role="button" data-theme="e">Scan</a>

  <fieldset data-role="controlgroup">
  <div data-role="heading" class="ui-controlgroup-label"><h4>Profiles To Scan With</h4></div>
  <div class="ui-controlgroup-controls">
  <div class="ui-checkbox">
  <input type="checkbox" name="checkbox-1" id="checkbox-1"/>
  <label for="checkbox-1">Profile 1</label></div>
  <div class="ui-checkbox">
  <input type="checkbox" name="checkbox-2" id="checkbox-2"/>
  <label for="checkbox-2">Profile 2</label></div>
  <div class="ui-checkbox">
  <input type="checkbox" name="checkbox-3" id="checkbox-3"/>
  <label for="checkbox-3">Profile 3</label></div>
  <div class="ui-checkbox">
  <input type="checkbox" name="checkbox-4" id="checkbox-4" />
  <label for="checkbox-4">Profile 4</label></div>
  <div class="ui-checkbox">
  <input type="checkbox" name="checkbox-4" id="checkbox-4" />
  <label for="checkbox-4">Profile 4</label></div>
  </div>
  </fieldset>