extends layout

block content
  h3= title
  form(action="/profile/create", method="post", data-ajax="true")
      div(data-role="fieldcontain")
        label(for="profilename") Name:
        input(type="text", name="name", id="name", placeholder='e.g. "Billy" or "Cousin Bob"', data-mini="false", data-clear-btn="true")

      div(data-role="fieldcontain")
        label(for="allergies") Allergies, separated by a comma:
        textarea(cols="40", rows="10", name="allergies", id="allergies", placeholder='e.g. "peanuts, wheat, soy, lactose"', data-mini="false", data-clear-btn="true", data-inset="true")

      div(data-role="fieldcontain")
        label(for="medications") Medications, separated by a comma:
        textarea(cols="40", rows="10", name="medications", id="medications", placeholder='e.g. "Allegra, Tylenol, Penicillin"', data-mini="false", data-clear-btn="true", data-inset="true")

      //-
        // unable to get working for now
        div(data-role="fieldcontain")
          label(for="default") Checked by default?
          input(type="checkbox", name="default", id="default", data-mini="false")

      div.ui-grid-a
        div.ui-block-a
          a(href="/home", data-role="button", data-icon="back") Back
        div.ui-block-b
          input(type="submit", name="submit", value="Create", data-icon="check", data-theme="b")