extends layout

block content
  h3= title
  form(action="/profile/create", method="post", data-ajax="true")
      div(data-role="fieldcontain")
        label(for="profilename", class="ui-hidden-accessible") Name:
        input(type="text", name="name", id="name", placeholder="Name", data-mini="false", data-clear-btn="true")

      div(data-role="fieldcontain")
        label(for="allergies", class="ui-hidden-accessible") Allergies:
        textarea(cols="40", rows="10", name="allergies", id="allergies", placeholder="Allergies, separated by a comma:", data-mini="false", data-clear-btn="true", data-inset="true")

      div(data-role="fieldcontain")
        label(for="medications", class="ui-hidden-accessible") Medications:
        textarea(cols="40", rows="10", name="medications", id="medications", placeholder="Medications, separated by a comma:", data-mini="false", data-clear-btn="true", data-inset="true")
      div.ui-grid-a
        div.ui-block-a
          a(href="/home", data-role="button", data-icon="back") Back
        div.ui-block-b
          input(type="submit", name="submit", value="Create Profile", data-icon="check", data-theme="b")