extends layout
  

block content
  h3 Picture Upload

  div(data-role="fieldcontain")
    input(type="text", id="filetext", placeholder="File name").ui-disabled
    button#btn-choose(data-theme="b") Choose
    button#btn-remove(data-theme="b") Remove

  div(data-role="fieldcontain")
    p Profiles to scan with:
      - if (profiles.length !=0)
        ul(data-role="listview", data-inset="true", data-split-icon="info")
          for profile in profiles
            li
                a(href="#", data-mini="true") #{profile.name}
                a(href="#")
      - if (profiles.length == 0)
        p No profiles were selected.

      
  div(data-role="fieldcontain")
    label(for="additional", class="ui-hidden-accessible") Additional allergies:
    textarea(cols="40", rows="10", name="additional", id="additional", placeholder="Additional ingredients to scan for: ", data-inset="true")


  div(data-role="fieldcontain")
    form#uploadForm(action="/scan", method="post", data-ajax="false", enctype='multipart/form-data', id="scanForm")
      input(type="file", name="scan", id="scan", style="display:none;")
      input(type="submit", value="Upload", data-theme="e", data-icon="arrow-u", data-iconpos="top")

