extends layout

block content
  h3 Success
  p Thank you for registering. Redirecting you to the home page...
  p
    | If it is taking too long, click 
    a(href="/home") here 
    |  to go to the home page.